.DS_Store
.venv
.conda
.vscode
.ipynb_checkpoints

documents/out/

__pycache__
dltmle.egg-info
build
dist

lightning_logs
.Rproj.user

log/*.out
log/*.err

artifact/
artifact.bak/
test_run/

log/hp-tuning-complex
log/hp-tuning-simple
